<!doctype html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Login-page</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-5 offset-md-3">

				<form th:action="@{/process}" method="post" th:object ="${LoginData}">

					<div class="form-group">
						<label for="exampleInputPassword1">User Name</label>
						<input type="text"
						 class="form-control"
						  placeholder="Ernter Your Name"
						   name="userName">
					</div>
					
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email"
						 class="form-control"
						   aria-describedby="emailHelp"
							placeholder="Enter email"
							 name="email">
							 
							 
					</div>
					<div class="form-check">
						<input type="checkbox"
						 class="form-check-input" 
						 id="exampleCheck1"
						  name="checkBox">
						<label class="form-check-label" for="exampleCheck1" >Agree terms and Conditions</label>
					</div>
					
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>

</body>

</html>